<%if @requests_accepted_by_others.empty? %>
  <span class="requests-no-inbox">No requests accepted or cancelled!</span>
<% else %>
<ul class="collection">
 <% @requests_accepted_by_others.each do |request_accepted| %>
    <li class="collection-item avatar">
    <div class= "col s4">
        <span class="title title-shift-you">Your request for: </span>
        <% shift_a = display_shift(request_accepted.shift_requested_id)%>
        <p class= "shift-date"><%= render_date(shift_a.day) %></p>
        <p class= "shift-slot"><%= shift_a.slot %> Shift</p>
    </div>
    <div class="col s2">
       <i class="material-icons medium swap-horiz-icon">swap_horiz</i>
    </div>
    <div class = "col s4">
        <% shift_b = display_shift(request_accepted.shift_answering_id) %>
        <span class="title title-shift-you">For : <%= display_user(shift_b.user_id).alias %></span>
        <p class= "shift-date"><%= render_date(shift_b.day) %></p>
        <p class= "shift-slot"><%= shift_b.slot %> Shift</p>
    </div>
    <div class="secondary-content">
        <p>Has been <%= request_accepted.status.upcase %>!</p>
        <%= link_to "Archive", requests_seen_path(:id => request_accepted.id,:anchor => "requests_sent"), :class => "link-to-seen", :method => 'patch', :action => :mark_as_seen %>
    </div>
    </li>
   <% end %>
</ul>
<% end %>

<% if !@requests_sent.empty? %>
<ul class="collection">
 <% @requests_sent.each do |request_sent| %>
    <li class="collection-item avatar">
    <div class= "col s4">
        <span class="title title-shift-you">You requested:</span>
        <% shift_r = display_shift(request_sent.shift_requested_id)%>
        <p class= "shift-date"><%= render_date(shift_r.day) %></p>
        <p class= "shift-slot"><%= shift_r.slot %> Shift</p>
    </div>
    <div class="col s2">
       <i class="material-icons medium swap-horiz-icon">swap_horiz</i>
    </div>
    <div class = "col s4">
        <% shift_a = display_shift(request_sent.shift_answering_id) %>
        <span class="title title-shift-you">To: <%= display_user(shift_a.user_id).alias %></span>
        <p class= "shift-date"><%= render_date(shift_a.day) %></p>
        <p class= "shift-slot"><%= shift_a.slot %> Shift</p>
    </div>
        <div class="secondary-content">
          Pending
        </div>
    </li>
   <% end %>
</ul>
<% end %>
