<div class="container">
<div class="row">
    <div class="col s12">
    <a class="btn-floating btn-large waves-effect waves-light calendar-btn"><i class="material-icons">today</i></a>
    <form action="#">
		<ul class="collection">
		    <li class="collection-item avatar first">
      			<h4>Available requests for:</h4>
      			<p class= "secondary-content">
      			<%= @shift_to_be_changed.day.strftime("%A") %><br>
      			<%= @shift_to_be_changed.day %><br>
         		<%= @shift_to_be_changed.slot %>
            </p>
    		</li>
        <% @available_requests.each do |available_request| %>
    		<li class="collection-item avatar">
      			<i class="material-icons circle">folder</i>
      			<span class="title"><%= User.find(available_request.user_id).alias %></span>
      			<p><%= available_request.day.strftime("%A") %>: <%= available_request.day %><br>
         		<%= available_request.slot %>
      			</p>
        <div class=" secondary-content switch">
        <label>
          <input type="checkbox" id="<%= available_request.id %>">
          <span class="lever"></span>
        </label>
        </div>
      </li>
      <% end %>
		</ul>
      <button class="btn waves-effect waves-light send-request-btn" type="submit" name="action">Send Requests
    <i class="material-icons right">send</i>
  </button>
    </form>
    </div>
</div>
</div>