<body>
<div class= "container">
	<div class="row">
  		<div class="col s8">
      	<%= month_calendar do |date| %>
  			<p class = "display-day"><%= date.mday %></p>
            <% if Shift.find_by(user_id: current_user.id, day: date).class == Shift %>
                <p hidden ><%= Shift.find_by(user_id: current_user.id, day: date).id %></p>
            <% end %>
  		<% end %>
		</div>
   		<div class="col s4">
    		<%= render "/partials/shift_card" %>
    		<%= render "/partials/key_card" %>
    	</div>
	</div>
</div>
</body>

